body{
    margin: 0px;
    font-family: 'Poppins', sans-serif;
font-family: 'Shippori Antique B1', sans-serif;   
}
.flexible-container{
    display: flex; 
    margin-bottom: 60px; 
}
h1{
    padding-left: 2%;
    border-left: 5px solid orange;
    font-size: 50px;
    margin: 0px;
    font-weight: bolder;
    
}
h2{
    font-size: 40px;
    margin: 0px; 
}
p{
    font-size: 18px;
}
.half-width{
    width: 50%;
    padding-left: 10%;  
}
.half-width-extra{
    
    padding-top: 6%;
    padding-right: 0%;    
}
.extra-space{
    padding-left: 0%;
    margin-right: 10%;
    
}
.color{
    color: tomato;
}
.half-width img{
    width: 70%;
       
}
p{
    margin-bottom: 30px;
}
#problem{
    margin-top: 40px;
}
.link-button{
    
    text-decoration: none;
    background-color:rgba(218, 43, 72, 0.904);
    padding: 10px 30px;
    color: white;
    font-weight: 500;
    border-radius: 5px;   
}
.mission-area{
    margin-bottom: 5%;
}
.mission-width{
    width: 30%;
    margin-left: 10%;
    padding: 0px 20px 30px 20px; 
    background-color: rgb(248, 236, 238);
    border-radius: 25px;  
}
.mission-width img{
    width: 40%;
    
}
.vission-width{
    width: 30%;
    margin-left: 2%;
    padding: 0px 20px 30px 20px;
    background-color: rgb(218, 241, 234); 
    border-radius: 25px; 
}
.vission-width img{
    width: 39%;
}

.goals-width{
    width: 30%;
    margin-left: 2%;
    margin-right: 10%;
    padding: 0px 20px 30px 20px;
    background-color: rgb(243, 232, 216);
    border-radius: 25px; 
}
.goals-width img{
    width: 40%;
}
#align{
    text-align: center;
    padding-bottom: 2%;
}
#new-style{
    border: 0px;
    text-align: center;
    padding-bottom: 100px;
}
#bottom{
    text-align: center;
    margin-top: 10%;
    padding: 30px;
    color: white;
    background-color: rgb(15, 1, 29);
    font-weight: lighter;
}
#bottom p{
    font-size: 15px;
    color: rgb(172, 166, 158);
}






